.app {
    height: 100%;
}

.app-header {
    padding: 10px;
    background-color: antiquewhite;
    height: 60px;
    display: flex;
    align-items: center;
}

.app-header-logo {
    height: 36px;
}